{% extends 'base.html' %}
{% load static %}


{% block menu %}
<ol>
  <li><a href="home_page.html">Trang Chủ</a></li>
  <li>Công Trình</li>
</ol>
{% endblock %}

{% block content %}
<div id="primary" class="content-area primary">
  <main id="main" class="site-main">
    <article class="post-145 page type-page status-publish ast-article-single" id="post-145" itemtype="https://schema.org/CreativeWork" itemscope="itemscope">
        <div class="entry-content clear" itemprop="text">
          <h1>Công trình các quán cà phê</h1>
          <p style="text-align: justify;">Công ty Khải Nhân chúng tôi luôn tâm niệm mỗi công trình không chỉ là công việc, nó còn là cả tâm huyết của chúng tôi, là niềm tự hào khi góp phần tôn vinh vẻ đẹp của địa điểm ấy. Nhờ vậy khách hàng luôn hài lòng không những với chất lượng mà còn là mỹ quan và chế độ hậu mãi với những công trình mà chúng tôi thực hiện.
            Từ đó, khách hàng giới thiệu cho Khải Nhân những khách hàng mới ngày càng nhiều hơn, góp phần rất lớn vào danh tiếng và thành công của Khải Nhân ngày hôm nay.</p>
            <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/ca_phe.jpg' %}" alt="mái hiên di động" width="469" height="376"/>

          <p>Chúng tôi tự hào giới thiệu một số hình ảnh công trình các quán cà phê mà Khải Nhân đã thực hiện và được chủ quán cũng như khách hàng đánh giá rất cao:</p>
          <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/ca_phe_1.jpg' %}" alt="mái hiên di động" width="869" height="376"/></p>
          <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/ca_phe_6.jpg' %}" alt="mái hiên di động" width="869" height="376"/></p>
          <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/ca_phe_7.jpg' %}" alt="mái hiên di động" width="869" height="376"/></p>
          <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/ca_phe_8.jpg' %}" alt="mái hiên di động" width="500" height="376"/>
          <img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/ca_phe_9.jpg' %}" alt="mái hiên di động" width="500" height="376"/></p>
          <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/ca_phe_4.jpg' %}" alt="mái hiên di động" width="869" height="376"/></p>

      </div><!-- .entry-content .clear -->



    </article>
  </main>
</div>
{% endblock %}
