{% extends 'base.html' %}
{% load static %}


{% block menu %}
<ol>
  <li><a href="home_page.html">Trang Chủ</a></li>
  <li>Công Trình</li>
</ol>
{% endblock %}

{% block content %}
<div id="primary" class="content-area primary">
  <main id="main" class="site-main">
    <article class="post-145 page type-page status-publish ast-article-single" id="post-145" itemtype="https://schema.org/CreativeWork" itemscope="itemscope">
        <div class="entry-content clear" itemprop="text">
          <h1>Các công trình nhà xưởng</h1>
          <p style="text-align: justify;">Với kinh nghiệm thi công những công trình lớn, cùng những người thợ lành nghề, nhiều kinh nghiệm, Khải Nhân chúng tôi nhận được sự tin từ khách hàng để thi công rất nhiều công trình nhà xưởng
          với những diện tích lớn lên đến hàng ngàn mét vuông.</p>
          <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/nha_xuong.jpg' %}" alt="mái hiên di động" width="869" height="376"/></p>
          <p>Sau đây là một số hình ảnh công trình nhà xưởng diện tích lớn mà chúng tôi đã thi công:</p>
          <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/nha_xuong_1.jpg' %}" alt="mái hiên di động" width="869" height="376"/></p>
          <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/nha_xuong_2.jpg' %}" alt="mái hiên di động" width="869" height="376"/></p>
          <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/nha_xuong_3.jpg' %}" alt="mái hiên di động" width="869" height="376"/></p>
          <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/nha_xuong_4.jpg' %}" alt="mái hiên di động" width="869" height="376"/></p>
          <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/nha_xuong_5.jpg' %}" alt="mái hiên di động" width="869" height="376"/></p>
          <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/nha_xuong_6.jpg' %}" alt="mái hiên di động" width="869" height="376"/></p>

      </div><!-- .entry-content .clear -->



    </article>
  </main>
</div>
{% endblock %}
