{% extends 'base.html' %}
{% load static %}


{% block menu %}
<ol>
  <li><a href="home_page.html">Trang Chủ</a></li>
  <li>Công Trình</li>
</ol>
{% endblock %}

{% block content %}
<div id="primary" class="content-area primary">
  <main id="main" class="site-main">
    <article class="post-145 page type-page status-publish ast-article-single" id="post-145" itemtype="https://schema.org/CreativeWork" itemscope="itemscope">
        <div class="entry-content clear" itemprop="text">
          <h1>Công trình nhà phố</h1>
          <p style="text-align: justify;">Công ty Khải Nhân chúng tôi trong suốt quá trình làm việc của mình luôn đặt chữ Tín lên hàng đầu, nhờ vậy khách hàng luôn hài lòng với những công trình mà chúng tôi thực hiện.
            Từ đó, khách hàng giới thiệu cho những khách hàng mới về Khải Nhân và về những công trình mà Khải Nhân đã thực hiện.</p>
            <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/nha_pho.jpeg' %}" alt="mái hiên di động" width="469" height="376"/>

          <h5><b>Chúng tôi tự hào giới thiệu một số hình ảnh công trình các nhà phố mà Khải Nhân đã thực hiện và được gia chủ đánh giá rất cao:</b></h5>
          <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/nha_pho_2.jpg' %}" alt="mái hiên di động" width="869" height="376"/></p>
          <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/nha_pho_3.jpg' %}" alt="mái hiên di động" width="869" height="376"/></p>
          <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/nha_pho_4.jpg' %}" alt="mái hiên di động" width="500" height="376"/>
          <img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/nha_pho_5.jpg' %}" alt="mái hiên di động" width="500" height="376"/></p>
          <p>
            <img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/nha_dan_1.jpg' %}" alt="mái hiên di động" width="500" height="376"/>
            <img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/nha_pho_1.jpg' %}" alt="mái hiên di động" width="500" height="376"/>
          </p>
          <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/cong_trinh/nha_dan.jpg' %}" alt="mái hiên di động" width="869" height="376"/></p>

      </div><!-- .entry-content .clear -->



    </article>
  </main>
</div>
{% endblock %}
