{% extends 'base.html' %}


{% block menu%}
<ol>
  <li><a href="home_page.html">Trang Chủ</a></li>
  <li>Liên Hệ</li>
</ol>
{% endblock %}


{% block content %}
<div id="primary" class="content-area primary">
  <main id="main" class="site-main">
    <article class="post-146 page type-page status-publish ast-article-single" id="post-146" itemtype="https://schema.org/CreativeWork" itemscope="itemscope">
      <div class="entry-content clear" itemprop="text">


        <p style="text-align: justify;">Trong quá trình tham khảo sản phẩm, sử dụng các sản phẩm của bạt mái xếp Khải Nhân như: mái hiên di động, mái che di động, mái xếp di động, các loại bạt che nắng mưa chuyên dụng,&#8230;khách hàng cần tư vấn thêm, hãy liên hệ với chúng tôi qua địa chỉ:</p>
      <p><strong>Công ty TNHH Xây dựng TMDV Khải Nhân</strong></p>
      <ul>
        <li>Địa chỉ: 154/1/10 Trần Thị Trọng, Phường 15, quận Tân Bình, tp.HCM</li>
        <li>Hotline: 0907 408 003</li>
        <li><span class="">Email:</span> maihiendidongkhainhan@gmail.com</li>
      </ul>



      </div><!-- .entry-content .clear -->



    </article>
  </main>
</div>
{% endblock %}
