{% extends 'base.html' %}
{% load static %}


{% block menu %}
<ol>
  <li><a href="home_page.html">Trang Chủ</a></li>
  <li>Sản Phẩm</li>
  <li>Mái hiên di động</li>
</ol>
{% endblock %}

{% block content %}
<div id="primary" class="content-area primary">
  <main id="main" class="site-main">
    <!--<article class="post-145 page type-page status-publish ast-article-single" id="post-145" itemtype="https://schema.org/CreativeWork" itemscope="itemscope">-->
      <div class="woocommerce-tabs wc-tabs-wrapper">
        <div class="entry-content clear" itemprop="text">
          <ul class="tabs wc-tabs" role="tablist">
            <li class="description_tab" id="tab-title-description" role="tab" aria-controls="tab-description">
              <a href="#tab-description">Mô tả</a>
            </li>
          </ul>
        </div>
        <p>Bạt Xếp Lớp hay Bạt Gấp Xếp là sản phẩm đang bán rất chạy tại Khải Nhân. Với những tính năng tuyệt vời cùng tiện ích linh hoạt khi sử dụng, thiết nghĩ bạn cũng nên cân nhắc lắp đặt bạt xếp lớp cho không gian của mình trong thời gian tới.</p>
        <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/mai_xep/mai_xep.jpeg' %}" alt="mái hiên di động" width="869" height="376"/></p>
        <h2>Bạt xếp lớp là gì?</h2>
        <p>Bạt xếp lớp hay bạt gấp xếp là loại bạt che nắng mưa nhưng có thể xếp lại thành từng lớp, từng sóng để thuận tiện cho việc kéo ra hoặc thu vào trong quá trình sử dụng.</p>

        <p>Bạt được làm từ nhựa dẻo cao cấp hoặc chất liệu chuyên dụng để đảm bảo độ bền khi tiếp xúc với ánh nắng mặt trời.</p>
        <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/mai_xep/mai_xep_nha_dep.jpg' %}" alt="mái hiên di động" width="869" height="376"/></p>
        <h2>Công dụng Mái Xếp</h2>
        <p>Mái xếp lớp có khả năng che nắng mưa cho các công trình nhà ở dân dụng và hàng quán. Trong một số trường hợp mái gấp xếp này còn được dùng để che lán xe, hồ bơi – rất thích hợp và tăng tính thẩm mỹ</p>

        <p>Bên cạnh đó, những khu vui chơi ngoài trời cũng nên lắp đặt bạt xếp lớp để không gian trở nên bắt mắt và đảm bảo những hoạt động được diễn ra liên tục, không bị ảnh hưởng bởi thời tiết.</p>

        <p>So với mái tôn truyền thống thì bạt gấp xếp vừa đảm bảo được công nắng che nắng mưa vừa làm đẹp cho không gian nhà bạn.</p>

        <p>Bạn có thể kéo thu mái xếp vào khi không có nhu cầu sử dụng để tận hưởng không gian thoáng mát cùng ánh sáng thiên nhiên.</p>

        <h2>Bạt gấp xếp có bền không?</h2>
        <p>Cũng giống như các loại bạt chuyên dụng khác, bạt gấp xếp có độ bền cao, tuổi thọ có thể lên đến 10 – 15 năm nếu biết cách bảo quản và sử dụng.</p>

        <p>Những công trình do mái xếp Khải Nhân thi công như mái xếp ngoài trời, mái xếp hiên nhà, mái xếp sân vườn,… đến thời điểm hiện tại vẫn giữ được tính năng, độ bền và màu sắc. </p>
        <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/mai_xep/mai_xep_nha_biet_thu_dep.jpg' %}" alt="mái hiên di động" width="869" height="376"/></p>
        <h5>Cụ thể:</h5>
        <ul class="tabs wc-tabs" role="tablist">
          <li>Bạt dày 0.4mm, có khả năng chống tia cực tím, làm mát không gian, sóng bạt khổ chuẩn là 50cm</li>
          <li>Phần khung của bạt xếp lớp làm từ sắt phun sơn chống gỉ hoặc nhôm anod nên không bị han gỉ sau thời gian dài sử dụng.</li>
          <li>Bánh xe có bi trợ lực sử dụng công nghệ Ý với thanh U dày 2 li.</li>
          <li>Các sóng bạt có khoảng cách đều nhau, phối hợp nhịp nhàng khi kéo ra thu vào, rất đẹp mắt</li>
        </ul>
        <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/mai_xep/mai_xep_dep_2.jpg' %}" alt="mái hiên di động" width="569" height="376"/></p>
        <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/mai_xep/mai_xep_dep_1.jpg' %}" alt="mái hiên di động" width="569" height="376"/></p>
        <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/mai_xep/mai_xep_dep.jpg' %}" alt="mái hiên di động" width="569" height="376"/></p>
        <h2>Mua bạt xếp lớp giá rẻ ở đâu?</h2>
        <p>Khải Nhân là công ty chuyên phân phối các loại linh kiện mái xếp, mái hiên, mái che. Trong đó, sản phẩm chủ đạo là bạt xếp lớp hay bạt gấp xếp, bạt xanh cam và bạt che nắng mưa chuyên dụng.</p>
        <p>Khách hàng có nhu cầu mua bạt về sử dụng, hãy liên hệ ngay với chúng tôi để được tư vấn tận tình, chu đáo về chủng loại và giá cả.</p>
        <p>Với nhiều năm kinh nghiệm trong lĩnh vực cung cấp vật tư làm mái xếp, mái che di động, chúng tôi đảm bảo sẽ luôn có đủ nguồn hàng với đầy đủ chủng loại.</p>
        <p>Nhân viên kỹ thuật là những người được đào tạo bài bản, nhiệt tình và trách nhiệm trong công việc chắc chắn sẽ làm hài lòng khách hàng.</p>
        <p>Liên hệ tư vấn lắp đặt bạt xếp lớp:</p>
        <p><strong>Công ty TNHH Xây dựng TMDV Khải Nhân</strong></p>
        <ul>
          <li>Địa chỉ: Phường 15, Tân Bình, thành phố Hồ Chí Minh</li>
          <li>Hotline: 0907 408 003</li>
          <li>Email:&nbsp;maihiendidongkhainhan@gmail.com</li>
        </ul>
      </div><!-- .entry-content .clear -->



    <!--</article>-->
  </main>
</div>
{% endblock %}
